*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    display: inline;
}
.navbar h3{
    font-size: 1.2rem;
    color: #333;
    margin: 2.3rem;
}
#list{
    display: inline;

}